@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
.day4header nav .mybut {
}


body{
	background-image: url("../images/wallpaper-patter.jpg")
}

.day4header{
	width: 900px;
	height: 264px;
	background-color: #EA6D1E;
	background-image:url("../images/city.png");
	margin: auto;
}

p{
	font-family: 'Roboto', sans-serif;
}

.mycontent{
	width: 900px;
	height: 800px;
	background-color: #EA6D1E;
	margin: auto;
}

footer{
	margin-top: 30px;
	background-color: #E40206;
	width: 100%;
	height: 50px;
	
}
.myman{
	float: left;
	margin-right: 30px;
}

.mybut{
	width: 120px;
	height: 24px;
	background-color:aliceblue;
	border-radius: 20px;
	color: #F3F3F3;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-left: 12px;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nodeco{
	text-decoration: none;
	color: mediumvioletred;
}

.mybut:hover{
	background-color: darkgoldenrod
}

nav{
	display: flex;
	flex-direction: row;
	
}
